<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <style>
        body{
            background-color: #cde0e5;
            text-align:center;
        }
        #addquestionnaire_box{
            text-align:center;
            margin: 0 auto;
            width : 75%;
            background-color: white;
            opacity: 0.8;
            border-radius:10px;
            box-shadow: 5px 5px 5px 5px #969899;
        }
    </style>
    <title>后台管理</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col" style="height:100px;"></div>
        <div class="col">
            <div id="addquestionnaire_box">
                <div style="height:1px;"></div>
                    <h1 class="text-center" th:text="${questionnaire_name}"></h1>
                <div style="height:20px;"></div>
                <form id="questions_form" class="form-horizontal">
                    <div th:with="i=1" th:id="question_ + (${questions.getQId()}) + _box" class="form-group" th:each="questions,index:${allquestions}">
                        <div class="form-group">
<!--                            <label th:for="question_ + (${questions.getQId()})" class="col-sm-3 control-label" th:text="${questions.getQId()}"></label>-->
                            <div class="col-sm-8">
                                <h3  th:id="question_ + (${questions.getQId()})" th:text="(${index.count}) + '. ' +(${questions.getQDescribe()})"></h3>
                            </div>
<!--                            <th:block  >-->
<!--                            </th:block>-->
                            <div class="col-sm-4">

                            </div>
<!--                                <div th:each="options:${'option' + questions.getQId()}">-->
<!--                                    <h4 th:text="(${options.getOpDescribe()})"></h4>-->
<!--                                </div>-->

                            <!--/*@thymesVar id="option" type="com.run.pojo.QuestionOption"*/-->
                            <!--/*@thymesVar id="options" type="java.util.HashMap"*/-->
                            <div th:with="qid=${questions.getQId()}">
<!--                                <h4 th:text="(${qid})"></h4>-->
<!--                                <h4 th:each="option:${options.get(qid)}" th:text="(${option})"></h4>-->


                                <!--                                单选题的容器-->

                                <th:block th:if="${questions.getQuestionType()} == 'radio' " th:each="option:${options.get(qid)}" >
                                    <div th:id="question_ + (${qid})" class="form-group">

                                        <div class="row" style="padding-bottom:15px;">
<!--                                            <div class="col-sm-3"></div>-->

                                            <div class="checkbox col-sm-8">
                                                <!--/*@thymesVar id="option" type="com.run.pojo.QuestionOption"*/-->
                                                <th:block th:unless = "(${username}) == 'root'" >
                                                    <input type="radio" th:name="question_ + (${qid}) + _answer_radio"   th:id="question_ + (${qid}) + _answer_radio_ + (${option.getOpId()})" value="option1">
                                                </th:block>
                                                <label th:for="question_ + (${qid}) + _answer_radio_ + (${option.getOpId()})">
                                                    <th:block th:if = "(${username}) == 'root'" >
                                                        <input type="text" class="form-control" th:id="question_ + (${qid}) + _answer_input_ + (${option.getOpId()})" th:value="(${option.getOpDescribe()})" > </input>
                                                    </th:block>
                                                    <th:block th:unless="(${username}) == 'root'" >
                                                        <h4 type="text" class="form-control" th:id="question_ + (${qid}) + _answer_input_ + (${option.getOpId()})" th:text="(${option.getOpDescribe()})" > </h4>
                                                    </th:block>
                                                </label>
                                            </div>
                                            <div class="col-sm-4"> </div>
<!--                                                &lt;!&ndash;/*@thymesVar id="option" type="com.run.pojo.QuestionOption"*/&ndash;&gt;-->
<!--                                                <label th:for="question_ + (${qid}) + _answer_radio_ + (${option.getOpId()})" >-->
<!--&lt;!&ndash;                                                    <input type="text" class="form-control" th:id="question_ + (${qid}) + _answer_input_ + (${option.getOpId()})" disabled th:value="(${option.getOpDescribe()})" >&ndash;&gt;-->
<!--                                                    <h4 type="text" class="form-control" th:id="question_ + (${qid}) + _answer_input_ + (${option.getOpId()})" th:text="(${option.getOpDescribe()})" > </h4>-->
<!--                                                </label>-->
<!--                                            </div>-->
                                        </div>
                                    </div>
                                </th:block>


                                <th:block th:if="${questions.getQuestionType()} == 'checkbox' " th:each="option:${options.get(qid)}" >
                                    <div th:id="question_ + (${qid})" class="form-group">
                                        <div class="row" style="padding-bottom:15px;">
<!--                                            <div class="col-sm-3"></div>-->

                                            <div class="radio col-sm-8">
                                                <!--/*@thymesVar id="option" type="com.run.pojo.QuestionOption"*/-->
                                                <th:block th:unless = "(${username}) == 'root'" >
                                                    <input type="checkbox" th:name="question_ + (${qid}) + _answer_checkbox"   th:id="question_ + (${qid}) + _answer_radio_ + (${option.getOpId()}) " value="option1">
                                                </th:block>

                                                <label th:for="question_ + (${qid}) + _answer_radio_ + (${option.getOpId()})">
                                                    <th:block th:if = "(${username}) == 'root'" >
                                                        <input type="text" class="form-control" th:id="question_ + (${qid}) + _answer_input_ + (${option.getOpId()})" th:value="(${option.getOpDescribe()})" > </input>
                                                    </th:block>
                                                    <th:block th:unless="(${username}) == 'root'" >
                                                        <h4 type="text" class="form-control" th:id="question_ + (${qid}) + _answer_input_ + (${option.getOpId()})" th:text="(${option.getOpDescribe()})" > </h4>
                                                    </th:block>
<!--                                                    <input type="text" class="form-control" th:id="question_ + (${qid}) + _answer_input_ + (${option.getOpId()})" th:value="(${option.getOpDescribe()})" > </input>-->
<!--                                                    <h4 type="text" class="form-control" th:id="question_ + (${qid}) + _answer_input_ + (${option.getOpId()})" th:text="(${option.getOpDescribe()})" > </h4>-->
                                                </label>
                                            </div>
                                            <div class="col-sm-4"> </div>
<!--                                                &lt;!&ndash;/*@thymesVar id="option" type="com.run.pojo.QuestionOption"*/&ndash;&gt;-->
<!--&lt;!&ndash;                                                <input type="text" class="form-control" th:id="question_ + (${qid}) + _answer_input_ + (${option.getOpId()})" disabled th:value="(${option.getOpDescribe()})" >&ndash;&gt;-->
<!--                                                <label th:for="question_ + (${qid}) + _answer_radio_ + (${option.getOpId()})" >-->
<!--                                                    &lt;!&ndash;                                                    <input type="text" class="form-control" th:id="question_ + (${qid}) + _answer_input_ + (${option.getOpId()})" disabled th:value="(${option.getOpDescribe()})" >&ndash;&gt;-->
<!--                                                    <input type="text" class
                                <div id="question_1_checkbox" class="form-group">

                                </div>
="form-control" th:id="question_ + (${qid}) + _answer_input_ + (${option.getOpId()})" th:value="(${option.getOpDescribe()})" > </input>-->
<!--                                                </label>-->
<!--                                            </div>-->
                                        </div>
                                    </div>
                                </th:block>

                            </div>

                        </div>
                    </div>
                </form>


                <!--&lt;!&ndash;                为表单添加问题&ndash;&gt;-->
<!--                                <form id="questions_form" class="form-horizontal">-->
<!--                &lt;!&ndash;                    问题1&ndash;&gt;-->
<!--                                    <div id="question_1" class="form-group">-->
<!--                &lt;!&ndash;                        问题描述&ndash;&gt;-->
<!--                                        <div class="form-group">-->
<!--                                            <label for="question_1_describe" class="col-sm-3 control-label">1</label>-->
<!--                                            <div class="col-sm-7">-->
<!--                                                <input type="text" class="form-control" id="question_1_describe" placeholder="请输入问题描述">-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                &lt;!&ndash;                        问题类型&ndash;&gt;-->
<!--                                        <div class="form-group">-->
<!--                                            <label class="radio-inline">-->
<!--                                                <input type="radio" name="question_type" id="question_1_type_radio1" value="option1" checked> 单选-->
<!--                                            </label>-->
<!--                                            <label class="radio-inline">-->
<!--                                                <input type="radio" name="question_type" id="question_1_type_radio2" value="option2"> 多选-->
<!--                                            </label>-->
<!--                                            <label class="radio-inline">-->
<!--                                                <input type="radio" name="question_type" id="question_1_type_radio3" value="option3"> 填空-->
<!--                                            </label>-->
<!--                                        </div>-->


<!--                &lt;!&ndash;                        单选类型问题的容器&ndash;&gt;-->
<!--                                        <div id="question_1_radiobox" class="form-group">-->
<!--                                            <div class="row" style="padding-bottom:15px;">-->
<!--                                                <div class="col-sm-3"></div>-->
<!--                                                <div class="checkbox col-sm-1">-->
<!--                                                    <input type="radio" name="question_1_answer_radio" id="question_1_answer_radio1" value="option1">-->
<!--                                                </div>-->
<!--                                                <div class="col-sm-5">-->
<!--                                                    <input type="text" class="form-control" id="question_1_answer_input1">-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="row" style="padding-bottom:15px;">-->
<!--                                                <div class="col-sm-3"></div>-->
<!--                                                <div class="checkbox col-sm-1">-->
<!--                                                    <input type="radio" name="question_1_answer_radio" id="question_1_answer_radio2" value="option1">-->
<!--                                                </div>-->
<!--                                                <div class="col-sm-5">-->
<!--                                                    <input type="text" class="form-control" id="question_1_answer_input2">-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                &lt;!&ndash;                        多选类型问题的容器&ndash;&gt;-->
<!--                                        <div id="question_1_checkbox" class="form-group">-->

<!--                                        </div>-->
<!--                &lt;!&ndash;                        填空类型问题的容器&ndash;&gt;-->
<!--                                        <div id="question_1_inputbox" class="form-group">-->

<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </form>-->
                </div>
            </div>
        </div>
    </div>
</body>
</html>