<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.run.mapper.QuestionOptionMapper">

    <insert id="insertQuestionOption"
            parameterType="com.run.pojo.QuestionOption"
            useGeneratedKeys="true" keyProperty="opId">
        insert into question_option(op_describe, q_id) values
            (#{opDescribe}, #{qId});
    </insert>

    <update id="updateQuestionOptionSelectNumber"
            parameterType="BigInteger">
        update question_option set selected_num = selected_num + 1 where
            op_id = #{opId};
    </update>

    <update id="updateOfQuestionOptionById" >
        update question_option set op_describe = #{opDescribe} where op_id =
        #{opId};
    </update>
    
</mapper>
