<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.run.mapper.QuestionnaireMapper">
    <select id="getQuestionnaireByName" resultType="com.run.pojo.Questionnaire">
        select * from questionnaire where name = #{name}
    </select>

    <select id="getQuestionnaireById" resultType="com.run.pojo.Questionnaire">
        select * from questionnaire where id = #{id}
    </select>

    <select id="getQuestionnaireAll" resultType="com.run.pojo.Questionnaire">
        select * from questionnaire
    </select>    <!--    <insert id="insertUser">-->
    <!--        insert into user values (id = #{id}, password = #{passWord})-->
    <!--    </insert>-->
    <insert id="insertQuestionnaire" parameterType="string">
        INSERT INTO questionnaire (`name`,`qn_describe`,`status`) VALUES (#{name}, #{qnDescribe},#{status})
    </insert>

    <select id="getAllQuestions" parameterType="BigInteger" resultType="com.run.pojo.Question">
        select * from question where id = #{id}
    </select>

    <select id="getQuestionOptionById" resultType="com.run.pojo.QuestionOption">
        select * from question_option where q_id = #{qId}
    </select>
</mapper>
