<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.run.mapper.QuestionMapper">

    <insert id="insertQuestion" parameterType="com.run.pojo.Question"
            useGeneratedKeys="true" keyProperty="qId" >
        insert into question(q_describe, id, question_type)
        values (#{qDescribe}, #{id}, #{questionType});
    </insert>

    <update id="updateQuestionDescribe" >
        update question set q_describe = #{qDescribe} where q_id = #{qId};
    </update>

</mapper>
